.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.container img {
  height: 150px;
  width: 150px;
  border-style: groove;
  border-color: goldenrod;
  border-width: 20px;
}
.middle {
  font-size: x-large;
  font-family: monospace;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: auto;
  padding: 60px;
  background-color: black;
  color: goldenrod;
  border-style: groove;
  border-color: goldenrod;
  border-width: 20px;
}
a:link {
  color: goldenrod;
}
a:visited {
  color: goldenrod;
}
a:hover {
  color: turquoise;
}
a:active {
  color: goldenrod;
}
body {
  margin: 0;
  background-color: black;
}
