.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.container img {
  height: 180px;
  width: 240px;
  border-style: groove;
  border-color: goldenrod;
  border-width: 20px;
}
.middle {
  font-size: 30px;
  font-family: monospace;
  display: flex;
  gap: 100px;
  align-items: center;
  margin: auto;
  padding: 72px;
  background-color: black;
  color: goldenrod;
  border-style: groove;
  border-color: goldenrod;
  border-width: 20px;
}
a:link {
  color: goldenrod;
}
a:visited {
  color: goldenrod;
}
a:hover {
  color: turquoise;
}
a:active {
  color: goldenrod;
}
body {
  margin: 0;
  background-color: black;
  font-size: xx-large;
  font-family: monospace;
  color: goldenrod;
}
h1 {
  font-size: xx-large;
  font-family: monospace;
  color: goldenrod;
  display: flex;
  text-align: center;
  justify-content: center;
}
