.headline {
  text-align: center;
  margin: 5px;
  padding: 25px;
  background-color: black;
  font-size: 100px;
}
input {
  font-family: monospace;
  color: goldenrod;
  border-color: goldenrod;
  border-style: groove;
  border-width: 5px;
  background-color: black;
  font-size: 30px;
}
button {
  font-family: monospace;
  color: goldenrod;
  border-color: goldenrod;
  border-style: groove;
  border-width: 5px;
  background-color: black;
  font-size: 30px;
}
input::placeholder {
  font-family: monospace;
  color: goldenrod;
  font-size: 30px;
}
.container2 {
  border-style: groove;
  border-width: 20px;
  border-color: goldenrod;
}
